// global styles
ul{
    list-style-type: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color:inherit;
    @include transition(color);
}


p, ul, a, input, textarea{
    @include font-size($p-font-sizes);
}
p{
    line-height:1.4;
}
a{
    font-weight: 400;
}
h1{
    @include font-size($h1-font-sizes);
}
h2{
    @include font-size($h2-font-sizes);
}
h3{
    @include font-size($h3-font-sizes);
}
h1{
    font-weight: 700;
}
h2,h3,h4,h5{
    font-weight: 600;
}
img{
    max-width: 100%;
}

.container{
    max-width:65rem;
    margin-inline:auto;
    padding-inline: 20px;
}
section{
    padding-block: var(--section-padding);
}
.flow > * + *{
    margin-top: var(--flowspacer);
}
.flow-x > * + *{
    margin-left:var(--flowspacer);
}
.hero-display{
    font-size: clamp(40px, 5vw + 1rem, 72px);
    font-weight:700;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    flex-wrap: wrap;
}
.btn{
    @include btn($accent, $white);
}
// title head design with bar and info text
.head{
    padding-bottom: clamp(2rem, 4vw + 1rem, 3rem);
}
.head-info{
    @extend .flex;
    justify-content: start;
    text-transform: capitalize;
    width:300px;
    
    .info-bar{
        width:30%;
        height:2px;
        background:$primary;
    }
    
}
